<?xml version="1.0"?>
<launch>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.1"/>
  <arg name="R" default="0"/>
  <arg name="P" default="0"/>
  <arg name="Y" default="0"/>
  <arg name="vehicle" default="iris"/>
  <arg name="world" default="$(find drone_practice)/worlds/main.world"/>
  <arg name="sdf" default="$(find drone_practice)/models/iris_with_sensors/iris.sdf"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find drone_practice)/models:$(optenv GAZEBO_MODEL_PATH)"/>

  <include file="/root/PX4-Autopilot/launch/mavros_posix_sitl.launch">
    <arg name="x"       value="$(arg x)"/>
    <arg name="y"       value="$(arg y)"/>
    <arg name="z"       value="$(arg z)"/>
    <arg name="R"       value="$(arg R)"/>
    <arg name="P"       value="$(arg P)"/>
    <arg name="Y"       value="$(arg Y)"/>
    <arg name="vehicle" value="$(arg vehicle)"/>
    <arg name="world"   value="$(arg world)"/>
    <arg name="sdf"     value="$(arg sdf)"/>
  </include>

  <node pkg="drone_practice" type="land.py" name="landing_detector" output="screen" launch-prefix="bash -c 'sleep 10; exec $0 $@'"/>
  <node pkg="drone_practice" type="main.py" name="mission_controller" output="screen" launch-prefix="bash -c 'sleep 10; exec $0 $@'">
    <param name="local_setpoint_distance" value="0.30"/>
    <param name="grid_resolution" value="0.30"/>
    <param name="grid_forward_range" value="7.0"/>
    <param name="grid_side_range" value="6.0"/>
    <param name="grid_backward_range" value="2.0"/>
    <param name="grid_obstacle_inflation" value="0.40"/>
    <param name="grid_clearance_radius" value="0.75"/>
    <param name="local_goal_distance" value="5.0"/>
    <param name="local_path_lookahead" value="0.80"/>
    <param name="local_min_target_distance" value="0.50"/>
    <param name="grid_backward_penalty" value="1.50"/>
    <param name="fallback_max_angle_deg" value="180.0"/>
    <param name="fallback_angle_step_deg" value="15.0"/>
    <param name="emergency_escape_distance" value="0.25"/>
  </node>
</launch>
